numpy>=1.23
pyarrow==16.0.0
setuptools
ahrs
# depthai_sdk conflicts with depthai, so it's installed seperatelly in __main__.py
--extra-index-url https://artifacts.luxonis.com/artifactory/luxonis-python-snapshot-local
depthai==2.25.0.0.dev0+f1cd4d974e041f1b3ea84480afcdc5a8e3975299
websockets
pydantic==1.9
deprecated
sentry-sdk
